/* Reset básico para margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo a fonte da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #5a5a5a;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos do formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fafafa;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: #df2a0a;
    background-color: #f1f8e9;
    outline: none;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    background-color: #8b530a;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #aa6d11;
}

/* Mensagens de erro ou sucesso */
h2 {
    margin-top: 20px;
    text-align: center;
}

p {
    font-size: 1rem;
    color: #333;
    text-align: center;
}

strong {
    font-weight: bold;
}
